<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.topcoder.timobile">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/customTheme.NoActionBar">

        <activity android:name="com.topcoder.timobile.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.topcoder.timobile.DotClass" />
        <activity android:name="com.topcoder.timobile.storyContent.StoryContent" />
        <activity android:name="com.topcoder.timobile.WelcomeViewFlipper" />
        <activity android:name="com.topcoder.timobile.LoginActivity" android:theme="@style/customTheme.StatusBarOverlay"/>
        <activity android:name="com.topcoder.timobile.help.Help" />
        <activity android:name="com.topcoder.timobile.Settings" />
        <activity android:name="com.topcoder.timobile.profile.Profile" />
        <activity android:name="com.topcoder.timobile.points.Points" />
        <activity android:name="com.topcoder.timobile.rewards.Rewards" />
        <activity android:name="com.topcoder.timobile.browse_story.CameraActivity" />
        <activity android:name="com.topcoder.timobile.browse_story.BrowseStory" android:theme="@style/customTheme.StatusBarOverlay"/>
        <activity android:name="com.topcoder.timobile.story.Story" />
    </application>

</manifest>
