<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.topcoder.timobile">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/customTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DotClass" />
        <activity android:name=".storyContent.StoryContent" />
        <activity android:name=".WelcomeViewFlipper" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/customTheme.StatusBarOverlay" />
        <activity android:name=".help.Help" />
        <activity android:name=".Settings" />
        <activity android:name=".profile.Profile" />
        <activity android:name=".points.Points" />
        <activity android:name=".rewards.Rewards" />
        <activity android:name=".browse_story.CameraActivity" />
        <activity
            android:name=".browse_story.BrowseStory"
            android:theme="@style/customTheme.StatusBarOverlay" />
        <activity android:name=".story.Story" />
        <activity android:name=".Welcome"></activity>
    </application>

</manifest>